<p style="color: green"><%= notice %></p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.banner_url %>);">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>


  
<div class="container">
  <div class="cards my-4">
    <% @garden.plants.each do |plant| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
        <%= plant.name %>
        <%= link_to  "+", plant_path(plant), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "card-remove-link" %>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center ">
    <%= simple_form_for [@garden, @plant] do |f| %>
      <%= f.input :name %>
      <%= f.input :image_url %>
      <%= f.submit "Add a plant",class: "btn btn-primary" %>
    <% end %>
  </div>

  <div>
    <%= link_to "Edit this garden", edit_garden_path(@garden) %> |
    <%= link_to "Back to gardens", gardens_path %>

    <%= button_to "Destroy this garden", @garden, method: :delete %>
  </div>

</div>
